.card-grid {
  margin: 0px 15px 0px 15px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  flex-wrap: wrap;
  gap: 0.5rem;
}
